<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<link rel="stylesheet" href="/css/custom.css">

  <!-- Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJ4MCXNFYW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HJ4MCXNFYW');
</script> -->
<style>
  /* --- Your Custom CSS Goes Here --- */

  /* Change the base font size for all paragraphs */
  p {
    font-size: 0.85em; /* Try 1.1em, 1.2em, or 18px */
  }

  /* You can also change headings */
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.9em;
  }

  .one {
  font-size: 0.85em; /* Or 14px, 0.8em, etc. */
}

  .two {
  font-size: 0.95em; /* Or 14px, 0.8em, etc. */
}

nav a {
  font-size: 0.85em; /* Adjust as needed: 1rem, 15px, 1.1em */
}
header h1 {
  font-size: 1.5em; /* Adjust as needed: 2rem, 30px */
}
</style>

<!-- End Google Analytics -->